
@{
    ViewBag.Title = "ReporteOperacion";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/css/EstiloBalance.css" rel="stylesheet" />
</head>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">REPORTE OPERACION</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" @Url.Action("Inicio", "Inicio")>
                            <div class="form-group">
                                <label for="tarjeta" class="text-info">NUMERO DE TARJETA:</label><br>
                                <h2>@ViewBag.numeroTarjeta</h2>
                            </div>
                            <div class="form-group">
                                <label for="tarjeta" class="text-info">FECHA Y HORA:</label><br>
                                <h2>@ViewBag.hora</h2>
                            </div>
                            <div class="form-group">
                                <label for="tarjeta" class="text-info">RETIRADO:</label><br>
                                <h2>@ViewBag.cantidadRetirada</h2>
                            </div>
                            <div class="form-group">
                                <label for="tarjeta" class="text-info">TOTAL EN CUENTA:</label><br>
                                <h2>@ViewBag.balance</h2>
                            </div>
                        </form>
                        <form action="@Url.Action("CerrarSesion","Acceso")" method="post">
                            <input type="submit" class="btn btn-info btn-md" value="Cerrar Sesion">
                        </form>
                        <form action="@Url.Action("Inicio","Inicio")" method="post">
                            <input type="submit" class="btn btn-info btn-md" value="Inicio">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>